@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.site-header{
    width: 100%;
    height: 100vh;
    background:linear-gradient(57deg, #d8d8d8, #F5F5F5);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.navbar{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: 0.6s;
}

.navbar-brand{
    padding-left: 60px;
    font-weight: bold;
    font-size: 30px;
}

.navbar-nav{
    padding-right: 60px;
}

.navbar .navbar-nav .nav-item a{
    color: #464646;
    padding-left: 30px;
}

.navbar .navbar-nav .nav-item a:hover{
    color: #2713db;
    transition: 0.7s;
}

.jumbotron{
    padding-left: 60px;
    background-color:transparent;
    border-radius: 0px;
}

.jumbotron h1{
    font-family: 'Open Sans', sans-serif;
    color: #292929;
    padding-top: 170px;
    font-size: 17px;
    font-weight: 600;
}

.jumbotron h2{
    font-family: 'Poppins', sans-serif;
    color: #2713db;
    font-size: 70px;
    font-weight: 700;
    padding-top: 10px;
}

.jumbotron p{
    font-family: 'Open Sans', sans-serif;
    color: #292929;
    font-size: 16pt;
    padding-top: 3px;
}

.jumbotron .btn{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #2713db;
    border-radius: 50px;
    border-color: black;
}

.jumbotron .btn:hover{
    color: #2713db;
    font-family: 'Poppins', sans-serif;
    background-color:transparent;
    border-radius: 50px;
    border-color: #2713db;
    transition: 0.6s;
}

.jumbotron .btndownloadcv{
    background-color:transparent;
    color: black;
    margin-left: 20px;
}

.jumbotron .btndownloadcv:hover{
    background-color:#2713db;
    color: #FFFFFF;
    margin-left: 20px;
    transition: 0.6s;
}
#text-write{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    /* font-weight: bold; */
    color: darkslateblue;
    font-size: 31px;
    /* padding-top: 3px; */
    padding: 1%;
}
/*Projects CSS */

.projects{
    font-family: 'Times New Roman', Times, serif;
}

.myprojects h1{
    font-family:'Poppins', sans-serif;
    color: #0A0A0A;
    font-size: 30px;
    font-weight: 900;
    padding-top:100px;
    padding-bottom:100px;
}

/*  */
.tech-icon{
    border-radius: 8px;
    width: 70px;
    height: auto;
}
.icon-box{
    display: flex;
    align-items:center;
}
/* .tech-icon:hover{
    box-shadow: 1px 1px 1px 1px grey;
} */
.col-lg-3{
    margin-bottom: 50px;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
    
}


/* Form CSS */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


@media(max-width:992px){
    .navbar{
        background-color: #FFFFFF;
    }
}


@media (max-width: 576px){
    .navbar-brand{
        padding-left: 20px;
    }
    
    .jumbotron{
        padding-left: 20px;
    }

    .jumbotron h2{
        font-size: 50px;
    }
    #text-write{
        font-size: 20px;
    }
}

.aboutme .head h1{
    font-family:'Poppins', sans-serif;
    color: #0A0A0A;
    font-size: 30px;
    font-weight: 900;
    padding-top:100px;
    padding-bottom:100px;
}

/* .aboutme .body{
    padding-bottom: 100px;
} */

.aboutme .body h2{
    font-family:'Poppins', sans-serif;
    color: #0A0A0A;
    font-size: 26px;
    font-weight: 900;
    padding-bottom: 10px;
}

.aboutme .body h3{
    font-family:'Poppins', sans-serif;
    color: #2713db;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 4px;
}

.aboutme .body p{
    padding-top:5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #585858;
}

.aboutme .body td{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color:#585858;
}

.aboutme .body span{
    color:#2713db;
}

.aboutme .body .education i{
    color: #2713db;
    font-size: 40px;
    padding-top:50px;
    padding-bottom: 20px;
    padding-left:100px;
}

.aboutme .body .education p{
    padding-top:30px;
    font-family: 'Poppins', sans-serif;
    color: #707070;
    font-size: 15px;
    font-weight: 100;
}

@media (max-width: 768px){
    .aboutme .body .education i{
        padding-left: 0px;
    }
}

@media (max-width: 576px){
    .aboutme{
        padding-left: 30px;
    }
    .aboutme .body .education i{
        padding-left: 0px;
    }
}

@media (max-width: 992px){
    .aboutme .body .education i{
        padding-left: 0px;
    }
}

/* .skill {
    padding-bottom: 100px;
} */

.skillhead h1{
    font-family:'Poppins', sans-serif;
    color: #0A0A0A;
    font-size: 30px;
    font-weight: 900;
    padding-top:100px;
    padding-bottom:100px;
}


.site-footer{
    width: 100%;
    min-height: 45vh;
    background:linear-gradient(57deg, #F5F5F5, #F5F5F5);
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
}

.site-footer .sitefooterhead h1{
    font-family: 'Poppins', sans-serif;
    color: #0A0A0A;
    font-size: 20px;
    font-weight: 100;
    padding-top:100px;
    padding-bottom:20px;
    color: #707070;

}

.site-footer .sitefooterbody i{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 31px;
    color: #707070;
}

.site-footer .sitefooterbody i:hover{
    font-size: 31px;
    color: #29C08D;
    transition: 0.4s;
}

.site-footer .sitefooterbody p{
    font-size: 18px;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    color: #707070;
}

@media (max-width: 576px){
    .modal-content {
        margin: 30% auto;
      }
    .site-footer .sitefooterbody i{
        margin-left: 11px;
        margin-right: 11px;
        font-size: 20px;
    }
    .site-footer .sitefooterbody p{
        font-size: 14px;
    }
    .site-footer{
        min-height: 40vh;
    }
}

